// Styling for the footer
footer {
    padding-top: 10px;
    text-align: center;
    color: fade-out(white, .3);
    background-color: $gray-darker;
    h3 {
        color: #0894d1;
          letter-spacing: 1px;
          margin: 30px 0 20px;
    }
    p {
        font-size: 0.8rem;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 1rem;
                color: fade-out(white, .3);      
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}


footer .list-group-item {
    background-color: $gray-darker;
}
 
footer .copyright {
	padding: 15px 0;
	background: #333;
	margin-top: 20px;
	font-size: 15px;
 }
 
 footer .copyright span {
	color: #0894d1;
 }