<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8" content="@ViewBag.CsrfToken" csrf-param="_csrf_token" method-param="_method" name="csrf-token">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blockly game</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/app.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" type="text/css" asp-href-include="dist/app.*.css" />
    </environment>
</head>
<body id="page-top">
    <div id="app">
        <App 
             :user="@ViewBag.User"
             :errors="{}"
             :old="{}"
             :lang="{}"
             :recaptcha-key="null"
             :in-game-progress="[]"
             :game-data="[]"
             base-url="http://localhost:5000/" />
    </div>
    <environment names="Development">
        <script src="http://localhost:3000/app.js"></script>
    </environment>
    <environment names="Production">
        <script asp-src-include="dist/app.*.bundle.js"></script>
    </environment>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script>
   window.addEventListener("load", function(){
   window.cookieconsent.initialise({
      "palette": {
         "popup": {
         "background": "#242c34"
         },
         "button": {
         "background": "#d4282a"
         }
      },
      "theme": "classic",
      "content": {
         "message": "{{ Lang::get('pagination.cookiesmsg') }}",
         "dismiss": "{{ Lang::get('pagination.cookiesdismiss') }}",
         "link": "{{ Lang::get('pagination.cookieslink') }}",
      }
   })});
    </script>
</body>
</html>